.programme2page {
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.programme1page {
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
}

.programmp1 {
    margin: 0;
}

.programmp2 {
    margin: 0;
}

.programmsingle {
    margin: 0;
}

.programmimg {
    margin-top: 5px;
}

.bottomspacer {
    height: 0px;
    clear: both;
}

/* page "Spiele" */

.table-wrapper {
    overflow-x: auto;
    box-sizing: border-box;
}

.table-wrapper table {
    width: 100%;
}

.table-wrapper td {
    padding: 0.2rem;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    .table-wrapper table,
    .table-wrapper thead,
    .table-wrapper tbody,
    .table-wrapper th,
    .table-wrapper td,
    .table-wrapper tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .table-wrapper thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-wrapper tr {
        /* border: 1px solid #ccc; */
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }

    .table-wrapper td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
    }

    .table-wrapper td:before {
        /* Now like a table header */
        /* position: absolute; */
        /* Top/left values mimic padding */
        left: 6px;
        width: 12ch;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
	Label the data
	*/
    .table-wrapper td:nth-of-type(1) {
        grid-column: 1/-1;
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }

    .table-wrapper td:nth-of-type(2):after {
        content: " Spiele";
    }

    /*   .table-wrapper td:nth-of-type(3):before {
      content: "Dauer";
   }

   .table-wrapper td:nth-of-type(4):before {
      content: "Art";
   }
*/
    .table-wrapper td:nth-of-type(5) {
        display: none;
    }

    /*   .table-wrapper td:nth-of-type(5):before {
      content: "Ort";
   }

*/
    .table-wrapper td:nth-of-type(6):not(:empty):before {
        position: absolute;
        content: "Kommentar: ";
    }

    .table-wrapper td:nth-of-type(6):not(:empty) {
        grid-column: 1/-1;
        padding-top: 5px;
        padding-left: 12ch;
        text-align: left;
    }
}
