h1,
h2,
h3,
h4 {
   color: #000
}

h1 {
   font-size: 20px;
   margin: 3px;
   color: #dff
}

h2 {
   font-size: 15px;
   margin: 3px;
   color: #aff
}

h3 {
   background-color: #ffdc34;
   border-radius: 0;
   padding: 3px;
   margin: 0;
   color: black;
   border: 3px solid;
   border-right: 0;
   border-left: 0;
   border-image: repeating-linear-gradient(45deg, black 4px, black 6px, #ffdc34 6px, #ffdc34 8px) 1;
   border-image-repeat: repeat;
}

h4 {
   background-color: rgb(255 220 52);
   color: #000;
   border-radius: 0;
   padding: 3px;
   margin: 0;
   /* box-shadow:4px 4px 12px #262; */
   color: black;
   border: 3px solid;
   border-image: repeating-linear-gradient(45deg, black 4px, black 6px, #ffdc34 6px, #ffdc34 8px) 1;
   border-image-repeat: repeat;
   border-left: 0;
   border-right: 0;
}

html {
   background-color: #000d03;
   background-image: url(/imgs/Background_detail.webp);
   background-image: url(/imgs/Background_big.webp);
   background-repeat: repeat-y;
   background-size: 100%;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 1rem;
   box-sizing: border-box;
   backdrop-filter: blur(23px);
}

body {
   margin: auto;
   box-sizing: border-box
}

.logo {
   float: left
}

.logo img {
   width: 260px;
   margin-left: -20px
}

@media screen and (max-width: 450px) {
   .logo img {
      width: 100px;
      margin-left: 0;
      height: auto
   }
}

.guardian {
   margin-top: -220px;
   position: relative;
   top: 42px;
   z-index: -1
}

.maincontainer {
   background-color: rgb(0 0 0 / 20%);
   max-width: 900px;
   margin: auto;
   /* box-shadow:4px 4px 12px #262; */
   border-radius: 0;
   padding: 5px;
   color: green;
   width: 100%;
   box-sizing: border-box
}

.maincontainer2 {
   margin: auto;
   margin-top: 20px;
   margin-bottom: 50px;
   border-radius: 0;
   padding: 5px;
   padding-top: 15px;
   clear: both;
   max-width: 900px;
   display: grid;
   grid-template-columns: 3fr;
   gap: 20px
}

.infobox_right {
   display: none;
   text-align: center
}

.infobox_left {
   display: none
}

@media only screen and (min-width: 900px) {
   .maincontainer {
      margin-top: 50px
   }

   .logo {
      margin: -40px;
      width: 200px
   }

   .header {
      margin-bottom: 60px
   }

   .headertitle {
      margin-bottom: -55px
   }

   .maincontainer2 {
      grid-template-columns: 1fr 3fr
   }

   .infobox_left {
      display: block
   }
}

@media only screen and (min-width: 1200px) {
   .maincontainer {
      max-width: 1200px
   }

   .maincontainer2 {
      grid-template-columns: 1fr 3fr 1fr;
      max-width: 1200px
   }

   .infobox_right {
      display: block
   }
}

.opening_hours_center .info_content {
   overflow-y: hidden;
   min-height: 0;
   max-height: 0;
   transition: max-height .2s ease-out;
   text-align: left;
   box-sizing: border-box;
   padding: 0 10px;
   transition: all .15s ease-out
}

.opening_hours_center {
   scroll-margin-top: 30px
}

.opening_hours_center button::after {
   content: '►';
   position: absolute;
   top: 3px;
   left: 10px;
   font-size: 1.17em;
   color: #000;
   padding: 3px
}

.opening_hours_center:target button::after,
.opening_hours_center_open button::after {
   content: '▼'
}

.opening_hours_center:target .info_content,
.opening_hours_center_open .info_content {
   max-height: 600px
}

.header {
   width: 100%;
   border-radius: 0;
   clear: both
}

.footer {
   width: 100%;
   clear: both;
   color: rgba(221, 255, 255, .6);
   text-align: center;
   padding-bottom: 10px
}

.headertitle {
   text-align: center;
   padding: 3px;
   display: block
}

.headermenu {
   margin-top: 8px;
   margin-bottom: 5px;
   text-align: right;
   color: #aaa
}

@media screen and (max-width: 450px) {
   .headertitle {
      display: none
   }
}

a {
   -webkit-transition: color .4s;
   -khtml-transition: color .4s;
   -moz-transition: color .4s;
   -ms-transition: color .4s;
   -o-transition: color .4s;
   transition: color .4s;
   font-weight: 700;
   text-decoration: none;
   color: #166
}

.headermenu a {
   color: #fff;
   font-weight: 100;
   padding: .5rem .5rem;
   display: inline-block;
   font-size: 1rem
}

.datename a {
   color: #6bb
}

.datename a:hover {
   color: #4f9
}

.kursanmeldung a {
   color: #6bb
}

.kursanmeldung a:hover {
   color: #4f9
}

a:hover {
   color: #4f9
}

.infobox_left {
   overflow: auto;
   text-align: center
}

.centercontent {
   text-align: center;
   min-height: 600px
}

.welcometext {
   background-color: #00253e2b;
   text-align: justify;
   margin-bottom: 10px;
   border-radius: 0;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   padding: 10px;
   font-size: 1rem;
   /* box-shadow:4px 4px 12px #262; */
   color: white;
   backdrop-filter: blur(10px);
}

.info_content {
   min-height: 30px;
   background-color: rgb(0 30 50);
   text-align: left;
   margin-bottom: 10px;
   border-radius: 0;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   padding: 10px;
   font-size: .8rem;
   /* box-shadow:4px 4px 12px #262; */
   color: white;
}

.contentbox {
   background-color: rgba(221, 255, 255, .6);
   text-align: justify;
   margin-bottom: 10px;
   border-radius: 0;
   padding: 10px;
   font-size: 1rem;
   margin-top: 10px;
   box-shadow: 4px 4px 12px #262
}

.dates {
   background-color: rgb(0 30 50);
   text-align: justify;
   margin-bottom: 10px;
   border-radius: 0;
   padding: 10px;
   font-size: 1rem;
   margin-top: 10px;
   /* box-shadow:4px 4px 12px #262; */
   overflow: auto;
   color: white;
   backdrop-filter: blur(10px);
}

.dateimage {
   float: left;
   margin: 5px;
   margin-top: 15px;
   margin-left: 0
}

.dateimage img {
   border-radius: 3px
}

.datetext {
   margin-top: 10px
}

.datestamp {
   /* background-color:rgba(34,102,34,.3); */
   border-radius: 0;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   font-size: 10px;
   font-weight: 700;
   padding: 3px;
   padding-right: 6px;
   margin: 0;
   text-align: right;
   margin: 0
}

.datename {
   /* background-color:rgba(34,102,34,.6); */
   border-radius: 0;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   font-size: 10px;
   font-weight: 700;
   color: #fff;
   padding: 3px;
   padding-left: 6px;
   margin: 0
}

hr {
   border: none;
   height: 3px;
   background-color: rgba(221, 255, 255, .6);
   border-radius: 0
}

.textfield {
   background-color: rgba(256, 256, 256, .8);
   border: none;
   border-radius: 0;
   padding: 3px;
   padding-right: 12px;
   padding-left: 12px;
   width: 176px;
   font-weight: 700;
   color: #000;
   box-shadow: 4px 4px 12px #999
}

.sendbutton {
   background-color: rgba(34, 102, 34, .6);
   margin-bottom: 15px;
   border: none;
   border-radius: 0;
   color: #fff;
   font-weight: 700;
   padding-right: 8px;
   padding-left: 8px
}

form {
   text-align: center
}

#shouthistory {
   text-align: left
}

#shoutnavi a {
   color: #fff;
   background-color: rgba(191, 65, 120, .9);
   border: none;
   border-radius: 10px;
   font-weight: 700;
   margin-bottom: 15px;
   padding: 3px;
   padding-left: 12px;
   padding-right: 12px
}

.shout {
   padding: 5px;
   overflow-wrap: break-word;
   border: none;
   border-bottom: solid 2px;
   border-color: rgba(221, 255, 255, .6)
}

.kursname {
   background-color: rgba(34, 102, 34, .6);
   border-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   font-size: 14px;
   font-weight: 700;
   padding: 3px;
   margin: 0;
   color: #fff
}

.kurstext {
   background-color: rgba(221, 255, 255, .6);
   text-align: justify;
   margin: 0;
   border-radius: 0;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   padding: 10px;
   font-size: 12px;
   margin-bottom: 10px;
   box-shadow: 4px 4px 12px #262
}

.kursdeadline {
   background-color: rgba(34, 102, 34, .4);
   border-radius: 0;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   font-size: 10px;
   font-weight: 700;
   padding: 3px;
   padding-right: 6px;
   margin: 0;
   float: left;
   width: 300px;
   text-align: right;
   margin: 0
}

.kursdeadlinealt {
   border-radius: 0;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   font-size: 10px;
   font-weight: 700;
   padding: 3px;
   padding-right: 6px;
   margin: 0;
   float: left;
   width: 300px;
   text-align: right;
   margin: 0
}

.kursteilnehmer {
   background-color: rgba(34, 102, 34, .6);
   border-radius: 0;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   font-size: 10px;
   font-weight: 700;
   color: #fff;
   padding: 3px;
   padding-left: 6px;
   margin: 0;
   margin-left: 309px;
   width: 322px
}

.kursgebuehr {
   background-color: rgba(34, 102, 34, .4);
   border-radius: 0;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   font-size: 10px;
   font-weight: 700;
   padding: 3px;
   padding-right: 6px;
   margin: 0;
   float: left;
   width: 400px;
   text-align: right;
   margin: 0
}

.kursgebuehralt {
   background-color: rgba(255, 13, 17, 0);
   border-radius: 0;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   font-size: 10px;
   font-weight: 700;
   color: #fff;
   padding: 3px;
   padding-left: 6px;
   margin: 0;
   margin-left: 309px;
   width: 322px
}

.kursanmeldung {
   background-color: rgba(34, 102, 34, .6);
   border-radius: 0;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   font-size: 10px;
   font-weight: 700;
   color: #fff;
   padding: 3px;
   padding-left: 6px;
   margin: 0;
   margin-left: 409px;
   width: 222px
}

.programme2page {
   width: 500px;
   margin: 0;
   margin-left: 70px;
   margin-bottom: 40px;
   font-weight: 700
}

.programme1page {
   width: 500px;
   margin: 0;
   margin-left: 70px;
   margin-bottom: 40px;
   font-weight: 700
}

.programmp1 {
   float: left;
   margin: 0;
   margin-right: 100px
}

.programmp2 {
   margin: 0
}

.programmsingle {
   margin: 0
}

.programmimg {
   margin-top: 5px
}

.bottomspacer {
   height: 0;
   clear: both
}