html {
   --background-color-blue: rgba(0, 80, 129, 0.6);
   --background-color-green: rgba(34, 102, 34, 0.6);
   --box-shadow: 4px 4px 12px #262;
   --color-turquoise: #AFF;
   --background-color-turquoise: rgba(221, 255, 255, 0.6);
   --link-color: #166;
}

h1,
h2,
h3,
h4 {
   color: #000;
}

.maincontainer h1 {
   font-size: 20px;
   margin: 3px;
   color: #DFF;
   background-color: transparent;
   padding: 0;
}

.maincontainer h2 {
   font-size: 15px;
   margin: 3px;
   color: var(--color-turquoise);
   background-color: transparent;
   padding: 0;
}

h1.title,
h2,
h3,
h4 {
   background-color: var(--background-color-blue);
   border-radius: 0;
   padding: 3px;
   margin: 0;
   color: var(--color-turquoise);
}

h1 {
   padding: .5rem;
   font-size: 1.9rem;
}

h4 {
   box-shadow: var(--box-shadow);
}

html {
   background-color: #000d03;
   background-image: url(bg_ws1718.jpg);
   background-repeat: repeat-y;
   background-size: 100%;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 1rem;
   box-sizing: border-box;
}

body {
   /* width: 1200px; */
   margin: auto;
   box-sizing: border-box;
}

.logo {
   float: left;
}

.logo img {
   width: 260px;
   margin-left: -20px;
}

.guardian {
   margin-top: -220px;
   position: relative;
   top: 42px;
   z-index: -1;
}

.maincontainer {
   background-color: var(--background-color-blue);
   max-width: 900px;
   margin: auto;
   box-shadow: var(--box-shadow);
   border-radius: 0px;
   padding: 5px;
   /* clear: both; */
   color: green;
   width: 100%;
   box-sizing: border-box;
}

.maincontainer2 {
   margin: auto;
   margin-top: 20px;
   margin-bottom: 50px;
   /* box-shadow: 4px 4px 12px #FFF; */
   border-radius: 0px;
   padding: 5px;
   padding-top: 15px;
   clear: both;
   max-width: 900px;
   display: grid;
   grid-template-columns: 3fr;
   gap: 20px;
}

.infobox_right {
   display: none;
   text-align: center;
}

.infobox_left {
   min-width: 200px;
   display: none;
   grid-column: 1;
   grid-row: 1;
}

@media only screen and (min-width: 900px) {
   .maincontainer {
      margin-top: 50px;
   }

   .logo {
      margin: -40px;
      width: 200px;
   }

   .header {
      margin-bottom: 60px;
   }

   .headertitle {
      margin-bottom: -55px;
   }

   .maincontainer2 {
      grid-template-columns: 1fr 3fr;
   }

   .infobox_left {
      display: block;
   }
}

@media only screen and (min-width: 1200px) {
   .maincontainer {
      max-width: 1200px;
   }

   .maincontainer2 {
      grid-template-columns: 1fr 3fr 1fr;
      max-width: 1200px;
   }

   .infobox_right {
      display: block;
   }
}

.opening_hours_center .info_content {
   overflow-y: hidden;
   min-height: 0;
   max-height: 0;
   transition: max-height .2s ease-out;
   text-align: left;
   box-sizing: border-box;
   padding: 0 10px;
   transition: all .15s ease-out;
}

.opening_hours_center {
   scroll-margin-top: 30px;
}

.opening_hours_center button::after {
   content: '►';
   position: absolute;
   top: 5px;
   left: 10px;
   font-size: 1.17em;
   color: var(--color-turquoise);
   padding: 3px;
}

.opening_hours_center_open button::after,
.opening_hours_center:target button::after {
   content: '▼';
}

.opening_hours_center_open .info_content,
.opening_hours_center:target .info_content {
   max-height: 600px;
}

.header {
   width: 100%;
   border-radius: 0px;
   clear: both;
}

.footer-wrapper {
   width: 100%;
   clear: both;
   color: var(--background-color-turquoise);
   text-align: center;
   padding-bottom: 10px;
   display: grid;
   place-items: center;
}

.footer {
   display: grid;
   gap: 1rem max(3rem, 6vw);
   z-index: 1;
}

.foot {
   padding: 1rem 0;
}

.infobox_left {
   position: sticky;
   top: 59px;
   height: fit-content;
}

@media screen and (min-width: 520px) {
   .footer {
      grid-template-columns: repeat(2, auto);
   }
}

@media screen and (min-width: 1000px) {
   .footer {
      grid-template-columns: repeat(4, auto);
   }
}

.sponsor-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
   max-width: 1200px;
   width: 100%;
}

@media (min-width: 600px) {
   .sponsor-wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}

.sponsor {
   display: grid;
   place-items: center;
   transition: all ease-in-out .2s;
   filter: grayscale(1) brightness(115);
}

.sponsor:hover {
   filter: grayscale(0) brightness(1);
   scale: 1.05;
}

.sponsor img {
   max-width: 100px;
   max-height: 100px;
   height: auto;
}

.headertitle {
   text-align: center;
   padding: 3px;
   display: block;
}

.headermenu {
   margin-top: 8px;
   margin-bottom: 5px;
   text-align: right;
   color: #AAA;
}

@media screen and (max-width: 800px) {
   .headertitle {
      display: none;
   }
}

a {
   -webkit-transition: color 0.4s;
   -khtml-transition: color 0.4s;
   -moz-transition: color 0.4s;
   -ms-transition: color 0.4s;
   -o-transition: color 0.4s;
   transition: color 0.4s;
   font-weight: bold;
   text-decoration: none;
   color: var(--link-color);
}

.headermenu a {
   color: #FFF;
   font-weight: 100;
   padding: .5rem .5rem;
   display: inline-block;
   font-size: 1rem;
}

.datename a {
   color: #6BB;
}

.datename a:hover {
   color: #4F9;
}

.kursanmeldung a {
   color: #6BB;
}

.kursanmeldung a:hover {
   color: #4F9;
}

a:hover,
.active-link {
   color: #4F9;
}

.infobox_left {
   overflow: auto;
   text-align: center;
}

.centercontent {
   text-align: center;
   min-height: 600px;
}

.welcometext,
.contentbox {
   background-color: var(--background-color-turquoise);
   text-align: justify;
   margin-bottom: 10px;
   border-radius: 0px;
   padding: 10px;
   font-size: 1rem;
   box-shadow: var(--box-shadow);
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   hyphens: auto;
   overflow-wrap: break-word;
}

.info_content {
   min-height: 30px;
   background-color: var(--background-color-turquoise);
   text-align: left;
   margin-bottom: 10px;
   border-radius: 0px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   padding: 10px;
   font-size: .9rem;
   box-shadow: var(--box-shadow);
}

.highlighted-box {
   background-color: #4a7d52;
   color: white;
}

.dates {
   background-color: var(--background-color-turquoise);
   text-align: justify;
   margin-bottom: 10px;
   border-radius: 0px;
   padding: 10px;
   font-size: 1rem;
   margin-top: 10px;
   /* float: left; */
   box-shadow: var(--box-shadow);
   /* - padding of outer container for "terminarchiv"  */
   overflow: auto;
   max-width: calc(100vw - 10px);
   box-sizing: border-box;
   content-visibility: auto;
   min-height: 200px;
}

/* fix old styling */
.dates pre {
   white-space: inherit;
}

.dateimage {
   float: left;
   margin: 5px;
   margin-top: 15px;
   margin-left: 0;
}

.dateimage img {
   border-radius: 3px;
   cursor: zoom-in;
}

.dateimage img:hover {
   scale: 1.1;
}

.datetext {
   margin-top: 10px;
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   hyphens: auto;
}

.dateheader {}

.datestamp {
   background-color: rgba(34, 102, 34, 0.3);
   border-radius: 0px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   font-size: 10px;
   font-weight: bold;
   padding: 3px;
   padding-right: 6px;
   margin: 0;
   /* float: left; */
   /* width: 191px; */
   text-align: right;
   margin: 0px;
}

.datename {
   background-color: var(--background-color-green);
   border-radius: 0px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   font-size: 10px;
   font-weight: bold;
   color: white;
   padding: 3px;
   padding-left: 6px;
   margin: 0;
   /* margin-left: 200px; */
   /* width: 431px; */
}

.event-archive-year-link {
   display: inline-block;
   padding: 5px 10px;
}

hr {
   border: none;
   height: 3px;
   background-color: var(--background-color-turquoise);
   border-radius: 0px;
}

.textfield {
   background: var(--textfield-bg, rgba(256, 256, 256, 0.8));
   border: none;
   border-radius: 0px;
   padding: 3px;
   padding-right: 12px;
   padding-left: 12px;
   font-weight: bold;
   color: black;
   box-shadow: 4px 4px 12px #999;
}

.sendbutton {
   background-color: var(--background-color-green);
   margin-bottom: 15px;
   border: none;
   border-radius: 0px;
   color: white;
   font-weight: bold;
   padding-right: 8px;
   padding-left: 8px;
}

#shouthistory {
   text-align: left;
}

#shoutnavi a {
   color: white;
   background-color: rgba(191, 65, 120, 0.9);
   border: none;
   border-radius: 10px;
   font-weight: bold;
   margin-bottom: 15px;
   padding: 3px;
   padding-left: 12px;
   padding-right: 12px;
}

.shout {
   padding: 5px;
   overflow-wrap: break-word;
   border: none;
   border-bottom: solid 2px;
   border-color: var(--background-color-turquoise);
}

.shout-ip {
   font-size: .69rem;
   margin-top: .3rem;
   display: inline-block;
   color: lightgray;
}

.kursname {
   background-color: var(--background-color-green);
   border-radius: 0px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   font-size: 1.2rem;
   font-weight: bold;
   padding: 5px;
   margin: 0;
   color: #FFF;
}

.kurstext {
   background-color: var(--background-color-turquoise);
   text-align: justify;
   margin: 0;
   border-radius: 0px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   padding: 10px;
   margin-bottom: 10px;
   box-shadow: var(--box-shadow);
}

.course-tags {
   display: flex;
   flex-wrap: wrap;
   gap: 0 1.5rem;
}

.kurstext p {
   font-size: 1rem !important;
}

.kursdeadlinealt,
.kursdeadline {
   /*   background-color: #FFF; */
   border-radius: 0px;
   font-weight: bold;
   padding: 3px;
   margin: 0;
   text-align: right;
}

.kursdeadline {
   background-color: rgba(34, 102, 34, 0.4);
   width: 300px;
}

.kursteilnehmer {
   background-color: var(--background-color-green);
   border-radius: 0px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   font-weight: bold;
   color: white;
   padding: 3px;
   margin: 0;
   margin-left: 309px;
   width: 322px;
}

.kursgebuehralt,
.kursgebuehr {
   border-radius: 0px;
   font-weight: bold;
   padding: 3px;
   margin: 0;
}

.kursgebuehr {
   background-color: rgba(34, 102, 34, 0.4);
   float: left;
   text-align: right;
}

.kursgebuehralt {
   background-color: rgba(255, 13, 17, 0);
   color: white;
}

.kursanmeldung {
   background-color: var(--background-color-green);
   border-radius: 0px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   font-weight: bold;
   color: white;
   padding: 3px;
   padding-left: 6px;
   margin: 0;
   width: 222px;
}

.programme2page {
   margin: 0;
   margin-bottom: 40px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   gap: 2rem;
   flex-wrap: wrap;
}

.programme1page {
   margin: 0;
   margin-bottom: 40px;
   font-weight: bold;
}

.programmp1 {
   margin: 0;
}

.programmp2 {
   margin: 0;
}

.programmsingle {
   margin: 0;
}

.programmimg {
   margin-top: 5px;
}

.bottomspacer {
   height: 0px;
   clear: both;
}

.table-wrapper {
   overflow-x: auto;
   box-sizing: border-box;
}

@media screen and (min-width: 900px) {
   .table-wrapper {
      max-width: 640px;
   }
}

@media screen and (min-width: 1200px) {
   .table-wrapper {
      max-width: 740px;
   }
}

.table-wrapper table {
   width: 100%;
}

.table-wrapper td {
   padding: .2rem;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

   /* Force table to not be like tables anymore */
   .table-wrapper table,
   .table-wrapper thead,
   .table-wrapper tbody,
   .table-wrapper th,
   .table-wrapper td,
   .table-wrapper tr {
      display: block;
   }

   /* Hide table headers (but not display: none;, for accessibility) */
   .table-wrapper thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
   }

   .table-wrapper tr {
      /* border: 1px solid #ccc; */
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
   }

   .table-wrapper td {
      /* Behave  like a "row" */
      border: none;
      position: relative;
   }

   .table-wrapper td:before {
      /* Now like a table header */
      /* position: absolute; */
      /* Top/left values mimic padding */
      left: 6px;
      width: 12ch;
      padding-right: 10px;
      white-space: nowrap;
   }

   /*
	Label the data
	*/
   .table-wrapper td:nth-of-type(1) {
      grid-column: 1/-1;
      font-size: 1.2rem;
      margin-top: 1.5rem;
   }

   .table-wrapper td:nth-of-type(2):after {
      content: " Spiele";
   }

   /*   .table-wrapper td:nth-of-type(3):before {
      content: "Dauer";
   }

   .table-wrapper td:nth-of-type(4):before {
      content: "Art";
   }
*/
   .table-wrapper td:nth-of-type(5) {
      display: none;
   }

   /*   .table-wrapper td:nth-of-type(5):before {
      content: "Ort";
   }

*/
   .table-wrapper td:nth-of-type(6):not(:empty):before {
      position: absolute;
      content: "Kommentar: ";
   }

   .table-wrapper td:nth-of-type(6):not(:empty) {
      grid-column: 1/-1;
      padding-top: 5px;
      padding-left: 12ch;
      text-align: left;
   }
}


*:before,
*:after {
   -webkit-transition: all 0.1s;
   transition: all 0.1s;
   box-sizing: border-box;
}

.burger-check {
   display: none;
}

.a-header ul {
   list-style: none;
   margin: 0;
   padding: 0;
   top: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: end;
}

@media screen and (max-width: 800px) {
   .logo img {
      width: 62px;
      margin-left: 0;
      height: auto;
      position: relative;
      z-index: 12;
      margin: 7px 0;
   }

   .maincontainer {
      background-color: transparent;
      box-shadow: none;
   }

   .a-header * {
      transition: all ease .1s;
   }

   .centercontent .title:not(.stay-where-you-are) {
      position: absolute;
      background-color: transparent;
      box-shadow: none;
      pointer-events: none;
      z-index: 20;
      top: 0;
      line-height: 60px;
      padding: 0;
      left: 50%;
      transform: translateX(-50%);
   }


   /*--------------------------------------
 Sets the actionable area for the burger
 including a label for usability
--------------------------------------*/
   .burger {
      position: relative;
      float: right;
      margin-left: 10px;
      width: 60px;
      height: 60px;
      cursor: pointer;
   }

   .burger:after {
      content: 'Menu';
      position: absolute;
      bottom: 7px;
      left: 0px;
      width: 100%;
      text-align: center;
      font-size: 13px;
   }

   /*--------------------------------------
 Creates the look of the burger icon
 using the inner span and pseudo-elements
--------------------------------------*/
   .burger span,
   .burger span:before,
   .burger span:after {
      position: absolute;
      left: 10px;
      top: 22px;
      width: 40px;
      height: 4px;
      background: white;
      border-radius: 0.2em;
   }

   /* Reset the left and create the pseudo-element */
   .burger span:before,
   .burger span:after {
      content: '';
      left: 0;
   }

   /* Top bar position */
   .burger span:before {
      top: -8px;
   }

   /* Bottom bar position */
   .burger span:after {
      top: 8px;
   }

   /* Get rid of more on action (IE9 or higher) */
   .burger-check:checked+.burger:after {
      content: '';
   }

   /* Get rid of the middle bar on action (IE9 or higher) */

   .burger-check:checked+.burger span {
      height: 0;
      width: 0;
   }

   /* Moves the top and bottom bars to the middle on action (IE9 or higher) */
   .burger-check:checked+.burger span:before,
   .burger-check:checked+.burger span:after {
      top: 6px;
   }

   /* Rotates the top bar on action with full browser support (IE9 or higher) */
   .burger-check:checked+.burger span:before {
      -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      transform: rotate(225deg);
   }

   /* Rotates the bottom bar on action with full browser support (IE9 or higher) */
   .burger-check:checked+.burger span:after {
      -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(225deg);
      transform: rotate(-225deg);
   }

   /*==============================================================================
 Simple reveal (IE9 or higher)
==============================================================================*/
   span.boo {
      width: auto;
      margin-top: 0;
      line-height: 60px;
      height: 0;
      overflow: hidden;
   }

   /* Reveals Boo! (IE9 or higher) */
   #main-nav-test:checked~.boo {
      height: 50px;
   }

   /*==============================================================================
 Simple mobile menu opening and closing (IE9 or higher)
==============================================================================*/
   .a-header {
      position: absolute;
      margin: 0;
      min-height: 50px;
      overflow: hidden;
      background-color: rgb(1 54 79);
      width: 100%;
      float: right;
      top: 0;
      z-index: 10;
      left: 0;
   }

   .a-header ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
   }

   .a-header ul a {
      position: relative;
      float: left;
      width: 100%;
      height: 0;
      line-height: 50px;
      padding: 0 15px;
      text-decoration: none;
      overflow: hidden;
      color: white;
      box-sizing: border-box;
      text-align: left;
      display: grid;
      grid-template-columns: max-content auto;
      align-items: center;
      gap: 1rem;
   }

   .a-header ul a:hover,
   .a-header ul a:active,
   .a-header ul a:focus,
   .a-header ul a:visited {
      text-decoration: none;
      background: #fff;
      border-bottom-color: #08c;
   }

   /* Animate height of 'a' element in order to reveal the menu on check (IE9 or higher) */
   #main-nav:checked~ul a {
      height: 50px;
   }
}

@media screen and (min-width: 800px) {
   .theme-header-link {
      display: none;
   }

   .a-header .icon {
      display: none;
   }
}