php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value max_execution_time 200
php_value max_input_time 200

#Options -Indexes
Options +Indexes

RewriteEngine on
#RewriteRule    "^/ka300$" "?topic=stadtgeburtstag" [R]
#RewriteRule    "^klangraum$" "klangraum/" [R]
RewriteRule    "^klangraum/$" "proberaum/"
RewriteRule    "^klangraum/(.+)$" "proberaum/$1"

Redirect 301 /wiki https://wiki.z10.info/w/ 
RewriteRule ^wiki/(.*)$ https://wiki.z10.info/w/$1 [R,NC,L,QSA]


RewriteEngine On
RewriteBase /
RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]


RewriteCond %{QUERY_STRING} topic=(home|cafe|historie|karte|kontakt|spiele|rauminfo|403|stadtgeburtstag|spenden|kurs_delete|kurs_verify|kurs_anmeldung) [NC]
RewriteRule ^index\.php(.*) /%1? [R,L]
RewriteCond %{QUERY_STRING} topic=(kurs|kurse|shouthistory|wer|programm|termineics|helfer|hotlink|mail|shout|chat|impressum|datenschutz) [NC]
RewriteRule ^index\.php(.*) /%1? [R,L]

RewriteRule ^index\.php / [R,L]

RewriteRule ^archiv\/([0-9]+) /redirected_secret_index.php?topic=archiv&y=$1 [QSA,L]
RewriteRule ^shouthistory\/([0-9]+) /redirected_secret_index.php?topic=shouthistory&off=$1 [QSA,L]
RewriteRule ^(home|cafe|historie|karte|kontakt|spiele|rauminfo|403|stadtgeburtstag|spenden|awareness)$ /redirected_secret_index.php?topic=$1 [QSA,L]
RewriteRule ^(kurs|kurse|kurs_delete|kurs_verify|kurs_anmeldung)$ /redirected_secret_index.php?topic=$1 [QSA,L]
RewriteRule ^(archiv|shouthistory|wer|programm|termineics) /redirected_secret_index.php?topic=$1 [QSA,L]
RewriteRule ^(helfer|hotlink|mail|shout|chat|impressum|datenschutz) /redirected_secret_index.php?topic=$1 [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L] 


#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} .*jpg$|.*gif$|.*png$|.*jpeg$ [NC]
#RewriteCond %{HTTP_REFERER} !^$ 
#RewriteCond %{HTTP_REFERER} !z10\.info [NC]
#RewriteCond %{HTTP_REFERER} !google\. [NC] 
#RewriteCond %{HTTP_REFERER} !search\?q=cache [NC]
#RewriteRule (.*) /?topic=hotlink&img=$1 [NC]

<IfModule mod_headers.c>
  <FilesMatch "\.(ini|gitignore)$">
    Require all denied
  </FilesMatch>
  <FilesMatch "\.(mjs)$">
    Header set Content-type "mime/type; charset=utf-8"
  </FilesMatch>
  <FilesMatch "\.(pdf|flv|jpg|jpeg|png|gif|svg|webp|avif)$">
    Header set Cache-Control "public, max-age=1209600, must-revalidate"
  </FilesMatch>
  <FilesMatch "\.(ico|mp4|mov|swf|woff|woff2|otf)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>
  <FilesMatch "\.(js|css|mjs)$">
    Header set Cache-Control "public, max-age=1800, must-revalidate"
  </FilesMatch>
  <FilesMatch "^(autotrack.js|oldie.min.js|manifest.json)$">
    Header set Cache-Control "public, max-age=2592000, must-revalidate"
  </FilesMatch>

   <FilesMatch "\.git\/.*">
     Order 'deny,allow'
     Deny from all
   </FilesMatch>
</IfModule>

<IfModule mod_cache.c>
</IfModule>